@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo Black', sans-serif !important;
  box-sizing: border-box;
}

p {
  font-family: 'Archivo Black', sans-serif !important;
}

.recharts-surface {
  padding: 10px !important;
}

.flash {
  color: #f2f;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.bounceIn {
  animation-name: bounceIn;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.05);
  }
  80% {
    opacity: 1;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
